.legend
{
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
    position: absolute;
    width: 100vw;
    height: 300px;
    top: 300px;
    background-color: white;
    z-index: 2345;
}
.legend_prices
{
    display: flex;
    align-items: center;
}
#legend_description
{
    display: none;
}
.box_light
{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: #FFE9C2;
    margin-bottom: 5px;
}
.box_medium
{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: #FFC569;
    margin-bottom: 5px;
}
.box_high
{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: #D22238;
    margin-bottom: 5px;
}

.cta_map
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 120px;
    height: 30px;
    background: #D22238;
}
.cta_map img
{
    margin-left: 10px;
}
#price_map
{
    margin-bottom: 10px;
}

.leaflet-control-zoom-in,.leaflet-control-zoom-out
{
    display:none;
}