#container_simulateur
{
    padding: 60px 19px 0 19px;
    scroll-margin-top: 150px;
}

.simulateur_header
{
    background-color: #D4F2F9;
    padding: 32px 28px 30px 20px;
}
.simulateur_header div
{
    width: 300px;
    margin: 0 auto;
}
.simulateur_header p 
{
    max-width: 290px;
    font-family: nexity-regular;
    font-size: 16px;
    margin: 10px auto;
}
.simulateur_header div h1
{
    padding: 10px;
    display: inline-block;
    color: white;
    background-color: #48ACCF;
    font-family: nexity-bold;
    font-size: 42px;
}
.simulateur_action
{
    text-align: center;
    background: linear-gradient(180deg, #48ACCF 0%, #D4F2F9 100%);
    padding: 60px 20px;
}
.simulateur_action div p
{
    margin-bottom: 10px;
    font-family: nexity-medium;
    font-size: 24px;
    color: white;
}
.simulateur_action div div
{
    position: relative;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    text-align: initial;
    background-color: white;
}
.simulateur_action div div img
{
    position: absolute;
    right: 28px;
    bottom: 30px;
}
.simulateur_action div div label
{
    font-family: nexity-bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.simulateur_action div input
{
    width: 255px;
    font-family: nexity-regular;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2B2B2B;
}
.simulateur_action div input::placeholder
{
    font-family: nexity-regular;
    font-size: 16px;
}
.cta_simulateur
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px auto ;
    border: none;
    width: 200px;
    height: 50px;
    background: #D22238;
    border-radius: 3px;
    font-family: nexity-bold;
    font-size: 18px;
}
.btn_simulation
{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto 0 auto;
   padding: 0;
   font-family: nexity-bold;
   font-size: 18px;
   border: none;
   background-color: transparent;
   text-decoration: underline; 
}
.btn_simulation img
{
    margin-right: 10px;
}
#error_compa
{
    margin-top: 5px;
    color:red;
    font-family: nexity-regular;
    font-size: 12px;
}
.pinel_style
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #D22238 !important;
    height: 46px !important;
    margin-left: 5px;
    transform: rotate(-1deg);
    width: fit-content;
}

.simulateur_start
{
    color: white;
    padding: 60px 20px;
    background: linear-gradient(180deg, #48ACCF 0%, #D4F2F9 100%);
    border-radius: 3px;
    animation: fade ease 300ms;
}
.budget_start
{
    position: relative;
    width: 300px;
    height: 90px;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    text-align: initial;
    background-color: white;
}
.budget_start img
{
    position: absolute;
    right: 25px;
    bottom: 24px;
}
.budget_start label
{
    color: black;
    font-family: nexity-bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.budget_start input
{
    width: 255px;
    font-family: nexity-regular;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2B2B2B;
}
.calcul_field
{
    margin-bottom: 20px;
}
.calcul_field > p
{
    margin-bottom: 10px;
    font-family: nexity-regular;
    font-size: 16px;
}
.calcul_field p strong
{
    font-size: 24px;
}
.defiscal
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 90px;
    margin: 0 auto;
    color: black;
    background-color: white;
}
.defiscal p
{
    font-family: nexity-bold;
    font-size: 38px;
}
.total_economy
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 90px;
    margin: 0 auto;
    background: #48ACCF;
}
.total_economy p
{
    font-family: nexity-bold;
    font-size: 38px;
}
.btn_retry
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    padding: 0;
    font-family: nexity-bold;
    font-size: 18px;
    border: none;
    background-color: transparent;
    text-decoration: underline; 
}
.btn_retry img
{
    margin-right: 10px;
}
.cta_simulateur-start
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px auto ;
    border: none;
    width: 200px;
    height: 50px;
    background: #D22238;
    border-radius: 3px;
    font-family: nexity-bold;
    font-size: 18px;
}


@media screen and (min-width: 1024px)
{
    #container_simulateur
    {
        display: flex;
        justify-content: center;
    }
    .simulateur_home
    {
        display: flex;
        justify-content: center;
    }
    .simulateur_header
    {
        width: 48vw;
        padding: 90px 120px;
    }
    .simulateur_header p
    {
        margin: 10px 0;
    } 
    .simulateur_header div
    {
        width: 412px;
        margin:0;
    }
    .simulateur_action
    {
        display: flex;
        align-items: center;
        padding: 105px 0px 105px 111px;
        width: 48vw;
    }
    .simulateur_header-pinel
    {
        margin-left: -12px;
    }
    .pinel_style
    {
        padding: 2px;
    }   
    .btn_simulation
    {
        margin: 0 ;
    }
    .simulateur_action div p
    {
        text-align: initial;
    }
    .cta_simulateur
    {
        width: 124px;
        align-self: end;
        
    }

    .container_fields
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .calcul_field p strong
    {
        font-family: nexity-regular;
        font-size: 16px;
    }
}
@media screen and (max-width: 365px)
{
    .simulateur_header div h1
    {
        font-size: 36px;
    }
    .simulateur_header div
    {
        width: initial;
    }
    .simulateur_action div div
    {
        width: initial;
    }
    .simulateur_action div input 
    {
        width: 200px;
    }
}
